<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_C</key>
	<array>
		<string>C'</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E'</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
	</array>
	<key>@MMK_L_Icircumflex</key>
	<array>
		<string>Icircumflex'</string>
		<string>Idieresis</string>
		<string>Imacron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>imacron</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L'</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O'</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R'</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>R.1</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T'</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V'</string>
		<string>W</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_aacute</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>b'</string>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c'</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>cent</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g'</string>
		<string>gcommaaccent</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotesingle'</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r'</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s'</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t'</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u'</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v'</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>C'</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_R_G</key>
	<array>
		<string>G'</string>
		<string>Gcommaaccent</string>
		<string>O</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_Icircumflex</key>
	<array>
		<string>Icircumflex'</string>
		<string>Idieresis</string>
		<string>Imacron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>imacron</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>Oacute'</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S'</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
		<string>dollar</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T'</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V'</string>
		<string>W</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_aacute</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c'</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>cent</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon'</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma'</string>
		<string>ellipsis</string>
		<string>period</string>
	</array>
	<key>@MMK_R_d</key>
	<array>
		<string>d'</string>
		<string>q</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g'</string>
		<string>gcommaaccent</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>I'</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>dotlessi</string>
		<string>i</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>iogonek</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>bar</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotesingle'</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_r</key>
	<array>
		<string>m'</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s'</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t'</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u'</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v'</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z'</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
