<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
	</array>
	<key>public.kern1.Icircumflex</key>
	<array>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Imacron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>imacron</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Lslash</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>R.1</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni0162</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>public.kern1.aacute</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>public.kern1.b</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>ntilde</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>cent</string>
	</array>
	<key>public.kern1.d</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>F</string>
		<string>G</string>
		<string>uni0122</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>K</string>
		<string>uni0136</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Ntilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>uni0218</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>X</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Q.2</string>
		<string>ae</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>f</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>iogonek</string>
		<string>j</string>
		<string>k</string>
		<string>uni0137</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>lslash</string>
		<string>q</string>
		<string>germandbls</string>
		<string>tcaron</string>
		<string>x</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_j</string>
		<string>f_f_l</string>
		<string>f_f_t</string>
		<string>f_j</string>
		<string>f_t</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>uni00B9</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>space</string>
		<string>dollar</string>
		<string>Euro</string>
		<string>sterling</string>
		<string>yen</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>asciitilde</string>
		<string>asciicircum</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>acute</string>
		<string>hungarumlaut</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>ring</string>
		<string>tilde</string>
		<string>macron</string>
		<string>cedilla</string>
		<string>ogonek</string>
	</array>
	<key>public.kern1.g</key>
	<array>
		<string>g</string>
		<string>uni0123</string>
	</array>
	<key>public.kern1.quotesingle</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>uni0219</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
		<string>uni0163</string>
	</array>
	<key>public.kern1.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>public.kern2.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
	</array>
	<key>public.kern2.G</key>
	<array>
		<string>G</string>
		<string>uni0122</string>
		<string>Q.2</string>
	</array>
	<key>public.kern2.Icircumflex</key>
	<array>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Imacron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>imacron</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>uni0218</string>
		<string>dollar</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni0162</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>public.kern2.aacute</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>public.kern2.c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>cent</string>
	</array>
	<key>public.kern2.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern2.comma</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
	</array>
	<key>public.kern2.d</key>
	<array>
		<string>d</string>
		<string>q</string>
	</array>
	<key>public.kern2.g</key>
	<array>
		<string>g</string>
		<string>uni0123</string>
	</array>
	<key>public.kern2.i</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>iogonek</string>
		<string>l</string>
		<string>lacute</string>
		<string>uni013C</string>
		<string>bar</string>
	</array>
	<key>public.kern2.quotesingle</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.r</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>uni0219</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>t</string>
		<string>uni0163</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>public.kern2.v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>public.kern2.z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
