<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1..notdef</key>
	<array>
		<string>.notdef</string>
	</array>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>uni1EAE</string>
		<string>uni1EB6</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>uni1EB4</string>
		<string>uni01CD</string>
		<string>Acircumflex</string>
		<string>uni1EA4</string>
		<string>uni1EAC</string>
		<string>uni1EA6</string>
		<string>uni1EA8</string>
		<string>uni1EAA</string>
		<string>uni0200</string>
		<string>Adieresis</string>
		<string>uni1EA0</string>
		<string>Agrave</string>
		<string>uni1EA2</string>
		<string>uni0202</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
	</array>
	<key>public.kern1.B</key>
	<array>
		<string>B</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>C.ss01</string>
	</array>
	<key>public.kern1.D</key>
	<array>
		<string>Dcroat</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>AE</string>
		<string>AEacute</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>uni1EBE</string>
		<string>uni1EC6</string>
		<string>uni1EC0</string>
		<string>uni1EC2</string>
		<string>uni1EC4</string>
		<string>uni0204</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>uni1EB8</string>
		<string>Egrave</string>
		<string>uni1EBA</string>
		<string>uni0206</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>OE</string>
	</array>
	<key>public.kern1.Eng</key>
	<array>
		<string>Eng</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>Gbreve</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
	</array>
	<key>public.kern1.Germandbls</key>
	<array>
		<string>uni1E9E</string>
		<string>germandbls.calt</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>uni01CF</string>
		<string>Icircumflex</string>
		<string>uni0208</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>uni1ECA</string>
		<string>Igrave</string>
		<string>uni1EC8</string>
		<string>uni020A</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Ntilde</string>
	</array>
	<key>public.kern1.J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>uni01C7</string>
		<string>uni01CA</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
		<string>uni0136</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Ldot</string>
		<string>Lslash</string>
	</array>
	<key>public.kern1.M</key>
	<array>
		<string>M</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>G</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>uni01D1</string>
		<string>Ocircumflex</string>
		<string>uni1ED0</string>
		<string>uni1ED8</string>
		<string>uni1ED2</string>
		<string>uni1ED4</string>
		<string>uni1ED6</string>
		<string>uni020C</string>
		<string>Odieresis</string>
		<string>uni022A</string>
		<string>uni0230</string>
		<string>uni1ECC</string>
		<string>Ograve</string>
		<string>uni1ECE</string>
		<string>Ohorn</string>
		<string>uni1EDA</string>
		<string>uni1EE2</string>
		<string>uni1EDC</string>
		<string>uni1EDE</string>
		<string>uni1EE0</string>
		<string>Ohungarumlaut</string>
		<string>uni020E</string>
		<string>Omacron</string>
		<string>uni01EA</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>uni022C</string>
		<string>Q</string>
		<string>uni018F</string>
		<string>Q.ss01</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
	</array>
	<key>public.kern1.Q.ss02</key>
	<array>
		<string>Q.ss02</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
	</array>
	<key>public.kern1.Thorn</key>
	<array>
		<string>Thorn</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>uni01D3</string>
		<string>Ucircumflex</string>
		<string>uni0214</string>
		<string>Udieresis</string>
		<string>uni01D7</string>
		<string>uni01D9</string>
		<string>uni01DB</string>
		<string>uni01D5</string>
		<string>uni1EE4</string>
		<string>Ugrave</string>
		<string>uni1EE6</string>
		<string>Uhorn</string>
		<string>uni1EE8</string>
		<string>uni1EF0</string>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>uni1EEE</string>
		<string>Uhungarumlaut</string>
		<string>uni0216</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern1.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern1.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni1EF4</string>
		<string>Ygrave</string>
		<string>uni1EF6</string>
		<string>uni0232</string>
		<string>uni1EF8</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>uni01C4</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>public.kern1.acute</key>
	<array>
		<string>acute</string>
	</array>
	<key>public.kern1.ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>public.kern1.asciicircum</key>
	<array>
		<string>asciicircum</string>
	</array>
	<key>public.kern1.asciitilde</key>
	<array>
		<string>asciitilde</string>
	</array>
	<key>public.kern1.asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>public.kern1.at</key>
	<array>
		<string>at</string>
	</array>
	<key>public.kern1.backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>public.kern1.bar</key>
	<array>
		<string>bar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
	</array>
	<key>public.kern1.braceleft</key>
	<array>
		<string>braceleft</string>
	</array>
	<key>public.kern1.braceright</key>
	<array>
		<string>braceright</string>
	</array>
	<key>public.kern1.bracketleft</key>
	<array>
		<string>bracketleft</string>
	</array>
	<key>public.kern1.bracketright</key>
	<array>
		<string>bracketright</string>
	</array>
	<key>public.kern1.breve</key>
	<array>
		<string>uni032E</string>
		<string>breve</string>
	</array>
	<key>public.kern1.breveinvertedcomb</key>
	<array>
		<string>uni0311</string>
	</array>
	<key>public.kern1.brokenbar</key>
	<array>
		<string>brokenbar</string>
	</array>
	<key>public.kern1.bullet</key>
	<array>
		<string>bullet</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>cent</string>
	</array>
	<key>public.kern1.caron</key>
	<array>
		<string>caron</string>
	</array>
	<key>public.kern1.cedilla</key>
	<array>
		<string>cedilla</string>
	</array>
	<key>public.kern1.circumflex</key>
	<array>
		<string>circumflex</string>
	</array>
	<key>public.kern1.commaaccentcomb</key>
	<array>
		<string>uni0326</string>
	</array>
	<key>public.kern1.commaturnedabovecomb</key>
	<array>
		<string>uni0312</string>
	</array>
	<key>public.kern1.copyright</key>
	<array>
		<string>copyright</string>
	</array>
	<key>public.kern1.d</key>
	<array>
		<string>uni0308</string>
		<string>uni0307</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni030B</string>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>uni0306</string>
		<string>uni030A</string>
		<string>tildecomb</string>
		<string>uni0304</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>uni03060301</string>
		<string>uni03060300</string>
		<string>uni03060309</string>
		<string>uni03060303</string>
		<string>uni03020301</string>
		<string>uni03020300</string>
		<string>uni03020309</string>
		<string>uni03020303</string>
	</array>
	<key>public.kern1.degree</key>
	<array>
		<string>degree</string>
	</array>
	<key>public.kern1.dieresis</key>
	<array>
		<string>uni0324</string>
		<string>dieresis</string>
	</array>
	<key>public.kern1.divide</key>
	<array>
		<string>divide</string>
	</array>
	<key>public.kern1.dollar</key>
	<array>
		<string>dollar</string>
	</array>
	<key>public.kern1.dotaccent</key>
	<array>
		<string>dotbelowcomb</string>
		<string>dotaccent</string>
	</array>
	<key>public.kern1.e</key>
	<array>
		<string>ae</string>
		<string>aeacute</string>
		<string>ecaron</string>
		<string>edotaccent</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>oe</string>
	</array>
	<key>public.kern1.eight</key>
	<array>
		<string>eight</string>
		<string>eight.lf</string>
	</array>
	<key>public.kern1.equal</key>
	<array>
		<string>equal</string>
	</array>
	<key>public.kern1.eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>public.kern1.euro</key>
	<array>
		<string>Euro</string>
	</array>
	<key>public.kern1.exclam</key>
	<array>
		<string>exclam</string>
		<string>exclamdown</string>
	</array>
	<key>public.kern1.f</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern1.five</key>
	<array>
		<string>five</string>
		<string>five.lf</string>
	</array>
	<key>public.kern1.four</key>
	<array>
		<string>four</string>
		<string>four.lf</string>
	</array>
	<key>public.kern1.fraction</key>
	<array>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
	</array>
	<key>public.kern1.g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
	</array>
	<key>public.kern1.germandbls</key>
	<array>
		<string>germandbls</string>
	</array>
	<key>public.kern1.grave</key>
	<array>
		<string>uni030F</string>
		<string>grave</string>
	</array>
	<key>public.kern1.greater</key>
	<array>
		<string>greater</string>
		<string>greaterequal</string>
	</array>
	<key>public.kern1.guillemetleft</key>
	<array>
		<string>guillemotleft</string>
	</array>
	<key>public.kern1.guillemetright</key>
	<array>
		<string>guillemotright</string>
	</array>
	<key>public.kern1.guillemotleft</key>
	<array>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern1.guillemotright</key>
	<array>
		<string>guilsinglright</string>
	</array>
	<key>public.kern1.hookabovecomb</key>
	<array>
		<string>hookabovecomb</string>
	</array>
	<key>public.kern1.horncomb</key>
	<array>
		<string>uni031B</string>
	</array>
	<key>public.kern1.hungarumlaut</key>
	<array>
		<string>hungarumlaut</string>
	</array>
	<key>public.kern1.hyphen</key>
	<array>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>public.kern1.i</key>
	<array>
		<string>i</string>
		<string>uni1ECB</string>
		<string>iogonek</string>
	</array>
	<key>public.kern1.idotless</key>
	<array>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>uni01D0</string>
		<string>icircumflex</string>
		<string>uni0209</string>
		<string>idieresis</string>
		<string>i.loclTRK</string>
		<string>igrave</string>
		<string>uni1EC9</string>
		<string>uni020B</string>
		<string>imacron</string>
		<string>itilde</string>
	</array>
	<key>public.kern1.j</key>
	<array>
		<string>uni01C8</string>
		<string>uni01CB</string>
		<string>j</string>
		<string>uni01C9</string>
		<string>eng</string>
		<string>uni01CC</string>
	</array>
	<key>public.kern1.jdotless</key>
	<array>
		<string>uni0237</string>
		<string>jcircumflex</string>
	</array>
	<key>public.kern1.k</key>
	<array>
		<string>k</string>
		<string>uni0137</string>
		<string>kgreenlandic</string>
	</array>
	<key>public.kern1.l</key>
	<array>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>ldot</string>
	</array>
	<key>public.kern1.less</key>
	<array>
		<string>less</string>
	</array>
	<key>public.kern1.lessequal</key>
	<array>
		<string>lessequal</string>
	</array>
	<key>public.kern1.lslash</key>
	<array>
		<string>lslash</string>
	</array>
	<key>public.kern1.macron</key>
	<array>
		<string>uni0331</string>
		<string>macron</string>
	</array>
	<key>public.kern1.minus</key>
	<array>
		<string>minus</string>
	</array>
	<key>public.kern1.multiply</key>
	<array>
		<string>multiply</string>
	</array>
	<key>public.kern1.n</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>uni1EAF</string>
		<string>uni1EB7</string>
		<string>uni1EB1</string>
		<string>uni1EB3</string>
		<string>uni1EB5</string>
		<string>uni01CE</string>
		<string>acircumflex</string>
		<string>uni1EA5</string>
		<string>uni1EAD</string>
		<string>uni1EA7</string>
		<string>uni1EA9</string>
		<string>uni1EAB</string>
		<string>uni0201</string>
		<string>adieresis</string>
		<string>uni1EA1</string>
		<string>agrave</string>
		<string>uni1EA3</string>
		<string>uni0203</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>ntilde</string>
	</array>
	<key>public.kern1.nbspace</key>
	<array>
		<string>uni00A0</string>
	</array>
	<key>public.kern1.nine</key>
	<array>
		<string>nine</string>
		<string>nine.lf</string>
	</array>
	<key>public.kern1.notequal</key>
	<array>
		<string>notequal</string>
	</array>
	<key>public.kern1.numbersign</key>
	<array>
		<string>numbersign</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>b</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecircumflex</string>
		<string>uni1EBF</string>
		<string>uni1EC7</string>
		<string>uni1EC1</string>
		<string>uni1EC3</string>
		<string>uni1EC5</string>
		<string>uni0205</string>
		<string>edieresis</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>uni1EBB</string>
		<string>uni0207</string>
		<string>uni1EBD</string>
		<string>uni0259</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>uni01D2</string>
		<string>ocircumflex</string>
		<string>uni1ED1</string>
		<string>uni1ED9</string>
		<string>uni1ED3</string>
		<string>uni1ED5</string>
		<string>uni1ED7</string>
		<string>uni020D</string>
		<string>odieresis</string>
		<string>uni022B</string>
		<string>uni0231</string>
		<string>uni1ECD</string>
		<string>ograve</string>
		<string>uni1ECF</string>
		<string>ohorn</string>
		<string>uni1EDB</string>
		<string>uni1EE3</string>
		<string>uni1EDD</string>
		<string>uni1EDF</string>
		<string>uni1EE1</string>
		<string>ohungarumlaut</string>
		<string>uni020F</string>
		<string>omacron</string>
		<string>uni01EB</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>uni022D</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>public.kern1.ogonek</key>
	<array>
		<string>ogonek</string>
	</array>
	<key>public.kern1.one</key>
	<array>
		<string>one</string>
		<string>one.lf</string>
	</array>
	<key>public.kern1.onesuperior</key>
	<array>
		<string>uni00B9</string>
	</array>
	<key>public.kern1.ordfeminine</key>
	<array>
		<string>ordfeminine</string>
	</array>
	<key>public.kern1.ordmasculine</key>
	<array>
		<string>ordmasculine</string>
	</array>
	<key>public.kern1.paragraph</key>
	<array>
		<string>paragraph</string>
	</array>
	<key>public.kern1.parenleft</key>
	<array>
		<string>parenleft</string>
	</array>
	<key>public.kern1.parenright</key>
	<array>
		<string>parenright</string>
	</array>
	<key>public.kern1.percent</key>
	<array>
		<string>percent</string>
		<string>perthousand</string>
	</array>
	<key>public.kern1.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>periodcentered</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern1.plus</key>
	<array>
		<string>plus</string>
	</array>
	<key>public.kern1.plusminus</key>
	<array>
		<string>plusminus</string>
	</array>
	<key>public.kern1.q</key>
	<array>
		<string>q</string>
	</array>
	<key>public.kern1.question</key>
	<array>
		<string>question</string>
	</array>
	<key>public.kern1.questiondown</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>public.kern1.quotedbl</key>
	<array>
		<string>quotedbl</string>
	</array>
	<key>public.kern1.quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>public.kern1.quotesingle</key>
	<array>
		<string>quotesingle</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>uni0211</string>
		<string>uni0213</string>
	</array>
	<key>public.kern1.registered</key>
	<array>
		<string>registered</string>
	</array>
	<key>public.kern1.ring</key>
	<array>
		<string>ring</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
	</array>
	<key>public.kern1.section</key>
	<array>
		<string>section</string>
	</array>
	<key>public.kern1.seven</key>
	<array>
		<string>seven</string>
		<string>seven.lf</string>
	</array>
	<key>public.kern1.six</key>
	<array>
		<string>six</string>
		<string>six.lf</string>
	</array>
	<key>public.kern1.slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>public.kern1.space</key>
	<array>
		<string>space</string>
	</array>
	<key>public.kern1.sterling</key>
	<array>
		<string>sterling</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
	</array>
	<key>public.kern1.three</key>
	<array>
		<string>three</string>
		<string>three.lf</string>
	</array>
	<key>public.kern1.threesuperior</key>
	<array>
		<string>uni00B3</string>
	</array>
	<key>public.kern1.tilde</key>
	<array>
		<string>tilde</string>
	</array>
	<key>public.kern1.trademark</key>
	<array>
		<string>trademark</string>
	</array>
	<key>public.kern1.two</key>
	<array>
		<string>two</string>
		<string>two.lf</string>
	</array>
	<key>public.kern1.twosuperior</key>
	<array>
		<string>uni00B2</string>
	</array>
	<key>public.kern1.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>uni01D4</string>
		<string>ucircumflex</string>
		<string>uni0215</string>
		<string>udieresis</string>
		<string>uni01D8</string>
		<string>uni01DA</string>
		<string>uni01DC</string>
		<string>uni01D6</string>
		<string>uni1EE5</string>
		<string>ugrave</string>
		<string>uni1EE7</string>
		<string>uhorn</string>
		<string>uni1EE9</string>
		<string>uni1EF1</string>
		<string>uni1EEB</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
		<string>uhungarumlaut</string>
		<string>uni0217</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>public.kern1.underscore</key>
	<array>
		<string>underscore</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>v</string>
	</array>
	<key>public.kern1.w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern1.x</key>
	<array>
		<string>x</string>
	</array>
	<key>public.kern1.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>uni1EF5</string>
		<string>ygrave</string>
		<string>uni1EF7</string>
		<string>uni0233</string>
		<string>uni1EF9</string>
	</array>
	<key>public.kern1.yen</key>
	<array>
		<string>yen</string>
	</array>
	<key>public.kern1.z</key>
	<array>
		<string>uni01C5</string>
		<string>uni01C6</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>public.kern1.zero</key>
	<array>
		<string>zero</string>
		<string>zero.lf</string>
	</array>
	<key>public.kern2..notdef</key>
	<array>
		<string>.notdef</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>uni1EAE</string>
		<string>uni1EB6</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>uni1EB4</string>
		<string>uni01CD</string>
		<string>Acircumflex</string>
		<string>uni1EA4</string>
		<string>uni1EAC</string>
		<string>uni1EA6</string>
		<string>uni1EA8</string>
		<string>uni1EAA</string>
		<string>uni0200</string>
		<string>Adieresis</string>
		<string>uni1EA0</string>
		<string>Agrave</string>
		<string>uni1EA2</string>
		<string>uni0202</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
	</array>
	<key>public.kern2.D</key>
	<array>
		<string>Dcroat</string>
	</array>
	<key>public.kern2.Eng</key>
	<array>
		<string>Eng</string>
	</array>
	<key>public.kern2.Germandbls</key>
	<array>
		<string>uni1E9E</string>
		<string>germandbls.calt</string>
	</array>
	<key>public.kern2.H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>uni01C4</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>uni01C5</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>uni1EBE</string>
		<string>uni1EC6</string>
		<string>uni1EC0</string>
		<string>uni1EC2</string>
		<string>uni1EC4</string>
		<string>uni0204</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>uni1EB8</string>
		<string>Egrave</string>
		<string>uni1EBA</string>
		<string>uni0206</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>uni01CF</string>
		<string>Icircumflex</string>
		<string>uni0208</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>uni1ECA</string>
		<string>Igrave</string>
		<string>uni1EC8</string>
		<string>uni020A</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>K</string>
		<string>uni0136</string>
		<string>L</string>
		<string>uni01C7</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Ldot</string>
		<string>uni01C8</string>
		<string>Lslash</string>
		<string>N</string>
		<string>uni01CA</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>uni01CB</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>public.kern2.M</key>
	<array>
		<string>M</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>C</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>uni01D1</string>
		<string>Ocircumflex</string>
		<string>uni1ED0</string>
		<string>uni1ED8</string>
		<string>uni1ED2</string>
		<string>uni1ED4</string>
		<string>uni1ED6</string>
		<string>uni020C</string>
		<string>Odieresis</string>
		<string>uni022A</string>
		<string>uni0230</string>
		<string>uni1ECC</string>
		<string>Ograve</string>
		<string>uni1ECE</string>
		<string>Ohorn</string>
		<string>uni1EDA</string>
		<string>uni1EE2</string>
		<string>uni1EDC</string>
		<string>uni1EDE</string>
		<string>uni1EE0</string>
		<string>Ohungarumlaut</string>
		<string>uni020E</string>
		<string>Omacron</string>
		<string>uni01EA</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>uni022C</string>
		<string>OE</string>
		<string>Q</string>
		<string>uni018F</string>
		<string>C.ss01</string>
		<string>Q.ss01</string>
	</array>
	<key>public.kern2.Q.ss02</key>
	<array>
		<string>Q.ss02</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>uni01D3</string>
		<string>Ucircumflex</string>
		<string>uni0214</string>
		<string>Udieresis</string>
		<string>uni01D7</string>
		<string>uni01D9</string>
		<string>uni01DB</string>
		<string>uni01D5</string>
		<string>uni1EE4</string>
		<string>Ugrave</string>
		<string>uni1EE6</string>
		<string>Uhorn</string>
		<string>uni1EE8</string>
		<string>uni1EF0</string>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>uni1EEE</string>
		<string>Uhungarumlaut</string>
		<string>uni0216</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni1EF4</string>
		<string>Ygrave</string>
		<string>uni1EF6</string>
		<string>uni0232</string>
		<string>uni1EF8</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>abreve</string>
		<string>uni01CE</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>ae</string>
		<string>aeacute</string>
	</array>
	<key>public.kern2.acute</key>
	<array>
		<string>Cacute</string>
		<string>acutecomb</string>
		<string>acute</string>
	</array>
	<key>public.kern2.ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>public.kern2.asciicircum</key>
	<array>
		<string>asciicircum</string>
	</array>
	<key>public.kern2.asciitilde</key>
	<array>
		<string>asciitilde</string>
	</array>
	<key>public.kern2.asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>public.kern2.at</key>
	<array>
		<string>at</string>
	</array>
	<key>public.kern2.backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>public.kern2.bar</key>
	<array>
		<string>bar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
	</array>
	<key>public.kern2.braceleft</key>
	<array>
		<string>braceleft</string>
	</array>
	<key>public.kern2.braceright</key>
	<array>
		<string>braceright</string>
	</array>
	<key>public.kern2.bracketleft</key>
	<array>
		<string>bracketleft</string>
	</array>
	<key>public.kern2.bracketright</key>
	<array>
		<string>bracketright</string>
	</array>
	<key>public.kern2.breve</key>
	<array>
		<string>uni0306</string>
		<string>uni032E</string>
		<string>breve</string>
	</array>
	<key>public.kern2.brevecomb</key>
	<array>
		<string>uni03060301</string>
		<string>uni03060300</string>
		<string>uni03060309</string>
		<string>uni03060303</string>
	</array>
	<key>public.kern2.breveinvertedcomb</key>
	<array>
		<string>uni0311</string>
	</array>
	<key>public.kern2.brokenbar</key>
	<array>
		<string>brokenbar</string>
	</array>
	<key>public.kern2.bullet</key>
	<array>
		<string>bullet</string>
	</array>
	<key>public.kern2.caron</key>
	<array>
		<string>uni030C</string>
		<string>caron</string>
	</array>
	<key>public.kern2.cedilla</key>
	<array>
		<string>uni0327</string>
		<string>cedilla</string>
	</array>
	<key>public.kern2.circumflex</key>
	<array>
		<string>uni0302</string>
		<string>circumflex</string>
	</array>
	<key>public.kern2.circumflexcomb</key>
	<array>
		<string>uni03020301</string>
		<string>uni03020300</string>
		<string>uni03020309</string>
		<string>uni03020303</string>
	</array>
	<key>public.kern2.commaaccentcomb</key>
	<array>
		<string>uni0326</string>
	</array>
	<key>public.kern2.commaturnedabovecomb</key>
	<array>
		<string>uni0312</string>
	</array>
	<key>public.kern2.copyright</key>
	<array>
		<string>copyright</string>
	</array>
	<key>public.kern2.degree</key>
	<array>
		<string>degree</string>
	</array>
	<key>public.kern2.dieresis</key>
	<array>
		<string>uni0308</string>
		<string>uni0324</string>
		<string>dieresis</string>
	</array>
	<key>public.kern2.divide</key>
	<array>
		<string>divide</string>
	</array>
	<key>public.kern2.dollar</key>
	<array>
		<string>dollar</string>
	</array>
	<key>public.kern2.dotaccent</key>
	<array>
		<string>uni0307</string>
		<string>dotbelowcomb</string>
		<string>dotaccent</string>
	</array>
	<key>public.kern2.eight</key>
	<array>
		<string>eight</string>
		<string>eight.lf</string>
	</array>
	<key>public.kern2.equal</key>
	<array>
		<string>equal</string>
	</array>
	<key>public.kern2.eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>public.kern2.euro</key>
	<array>
		<string>Euro</string>
	</array>
	<key>public.kern2.exclam</key>
	<array>
		<string>exclam</string>
		<string>exclamdown</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern2.five</key>
	<array>
		<string>five</string>
		<string>five.lf</string>
	</array>
	<key>public.kern2.four</key>
	<array>
		<string>four</string>
		<string>four.lf</string>
	</array>
	<key>public.kern2.fraction</key>
	<array>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
	</array>
	<key>public.kern2.g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
	</array>
	<key>public.kern2.grave</key>
	<array>
		<string>gravecomb</string>
		<string>uni030F</string>
		<string>grave</string>
	</array>
	<key>public.kern2.greater</key>
	<array>
		<string>greater</string>
		<string>greaterequal</string>
	</array>
	<key>public.kern2.guillemetleft</key>
	<array>
		<string>guillemotleft</string>
	</array>
	<key>public.kern2.guillemetright</key>
	<array>
		<string>guillemotright</string>
	</array>
	<key>public.kern2.guillemotleft</key>
	<array>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern2.guillemotright</key>
	<array>
		<string>guilsinglright</string>
	</array>
	<key>public.kern2.h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>k</string>
		<string>uni0137</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>ldot</string>
		<string>uni01C9</string>
		<string>thorn</string>
		<string>germandbls</string>
	</array>
	<key>public.kern2.hookabovecomb</key>
	<array>
		<string>hookabovecomb</string>
	</array>
	<key>public.kern2.horncomb</key>
	<array>
		<string>uni031B</string>
	</array>
	<key>public.kern2.hungarumlaut</key>
	<array>
		<string>uni030B</string>
		<string>hungarumlaut</string>
	</array>
	<key>public.kern2.hyphen</key>
	<array>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>public.kern2.i</key>
	<array>
		<string>i</string>
		<string>uni1ECB</string>
		<string>iogonek</string>
	</array>
	<key>public.kern2.idotless</key>
	<array>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>uni01D0</string>
		<string>icircumflex</string>
		<string>uni0209</string>
		<string>idieresis</string>
		<string>i.loclTRK</string>
		<string>igrave</string>
		<string>uni1EC9</string>
		<string>uni020B</string>
		<string>imacron</string>
		<string>itilde</string>
	</array>
	<key>public.kern2.j</key>
	<array>
		<string>j</string>
	</array>
	<key>public.kern2.jdotless</key>
	<array>
		<string>uni0237</string>
		<string>jcircumflex</string>
	</array>
	<key>public.kern2.less</key>
	<array>
		<string>less</string>
	</array>
	<key>public.kern2.lessequal</key>
	<array>
		<string>lessequal</string>
	</array>
	<key>public.kern2.lslash</key>
	<array>
		<string>lslash</string>
	</array>
	<key>public.kern2.macron</key>
	<array>
		<string>uni0304</string>
		<string>uni0331</string>
		<string>macron</string>
	</array>
	<key>public.kern2.minus</key>
	<array>
		<string>minus</string>
	</array>
	<key>public.kern2.multiply</key>
	<array>
		<string>multiply</string>
	</array>
	<key>public.kern2.n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>eng</string>
		<string>uni01CC</string>
		<string>ntilde</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>uni0211</string>
		<string>uni0213</string>
	</array>
	<key>public.kern2.nbspace</key>
	<array>
		<string>uni00A0</string>
	</array>
	<key>public.kern2.nine</key>
	<array>
		<string>nine</string>
		<string>nine.lf</string>
	</array>
	<key>public.kern2.notequal</key>
	<array>
		<string>notequal</string>
	</array>
	<key>public.kern2.numbersign</key>
	<array>
		<string>numbersign</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>uni1EAF</string>
		<string>uni1EB7</string>
		<string>uni1EB1</string>
		<string>uni1EB3</string>
		<string>uni1EB5</string>
		<string>acircumflex</string>
		<string>uni1EA5</string>
		<string>uni1EAD</string>
		<string>uni1EA7</string>
		<string>uni1EA9</string>
		<string>uni1EAB</string>
		<string>uni0201</string>
		<string>adieresis</string>
		<string>uni1EA1</string>
		<string>agrave</string>
		<string>uni1EA3</string>
		<string>uni0203</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>uni01C6</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>uni1EBF</string>
		<string>uni1EC7</string>
		<string>uni1EC1</string>
		<string>uni1EC3</string>
		<string>uni1EC5</string>
		<string>uni0205</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>uni1EBB</string>
		<string>uni0207</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni1EBD</string>
		<string>uni0259</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>uni01D2</string>
		<string>ocircumflex</string>
		<string>uni1ED1</string>
		<string>uni1ED9</string>
		<string>uni1ED3</string>
		<string>uni1ED5</string>
		<string>uni1ED7</string>
		<string>uni020D</string>
		<string>odieresis</string>
		<string>uni022B</string>
		<string>uni0231</string>
		<string>uni1ECD</string>
		<string>ograve</string>
		<string>uni1ECF</string>
		<string>ohorn</string>
		<string>uni1EDB</string>
		<string>uni1EE3</string>
		<string>uni1EDD</string>
		<string>uni1EDF</string>
		<string>uni1EE1</string>
		<string>ohungarumlaut</string>
		<string>uni020F</string>
		<string>omacron</string>
		<string>uni01EB</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>uni022D</string>
		<string>oe</string>
		<string>q</string>
		<string>cent</string>
	</array>
	<key>public.kern2.ogonek</key>
	<array>
		<string>uni0328</string>
		<string>ogonek</string>
	</array>
	<key>public.kern2.one</key>
	<array>
		<string>one</string>
		<string>one.lf</string>
	</array>
	<key>public.kern2.onesuperior</key>
	<array>
		<string>uni00B9</string>
	</array>
	<key>public.kern2.ordfeminine</key>
	<array>
		<string>ordfeminine</string>
	</array>
	<key>public.kern2.ordmasculine</key>
	<array>
		<string>ordmasculine</string>
	</array>
	<key>public.kern2.p</key>
	<array>
		<string>p</string>
	</array>
	<key>public.kern2.paragraph</key>
	<array>
		<string>paragraph</string>
	</array>
	<key>public.kern2.parenleft</key>
	<array>
		<string>parenleft</string>
	</array>
	<key>public.kern2.parenright</key>
	<array>
		<string>parenright</string>
	</array>
	<key>public.kern2.percent</key>
	<array>
		<string>percent</string>
		<string>perthousand</string>
	</array>
	<key>public.kern2.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>periodcentered</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern2.plus</key>
	<array>
		<string>plus</string>
	</array>
	<key>public.kern2.plusminus</key>
	<array>
		<string>plusminus</string>
	</array>
	<key>public.kern2.question</key>
	<array>
		<string>question</string>
	</array>
	<key>public.kern2.questiondown</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>public.kern2.quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>public.kern2.registered</key>
	<array>
		<string>registered</string>
	</array>
	<key>public.kern2.ring</key>
	<array>
		<string>uni030A</string>
		<string>ring</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
	</array>
	<key>public.kern2.section</key>
	<array>
		<string>section</string>
	</array>
	<key>public.kern2.seven</key>
	<array>
		<string>seven</string>
		<string>seven.lf</string>
	</array>
	<key>public.kern2.six</key>
	<array>
		<string>six</string>
		<string>six.lf</string>
	</array>
	<key>public.kern2.slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>public.kern2.space</key>
	<array>
		<string>space</string>
	</array>
	<key>public.kern2.sterling</key>
	<array>
		<string>sterling</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
	</array>
	<key>public.kern2.three</key>
	<array>
		<string>three</string>
		<string>three.lf</string>
	</array>
	<key>public.kern2.threesuperior</key>
	<array>
		<string>uni00B3</string>
	</array>
	<key>public.kern2.tilde</key>
	<array>
		<string>tildecomb</string>
		<string>tilde</string>
	</array>
	<key>public.kern2.trademark</key>
	<array>
		<string>trademark</string>
	</array>
	<key>public.kern2.two</key>
	<array>
		<string>two</string>
		<string>two.lf</string>
	</array>
	<key>public.kern2.twosuperior</key>
	<array>
		<string>uni00B2</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>uni01D4</string>
		<string>ucircumflex</string>
		<string>uni0215</string>
		<string>udieresis</string>
		<string>uni01D8</string>
		<string>uni01DA</string>
		<string>uni01DC</string>
		<string>uni01D6</string>
		<string>uni1EE5</string>
		<string>ugrave</string>
		<string>uni1EE7</string>
		<string>uhorn</string>
		<string>uni1EE9</string>
		<string>uni1EF1</string>
		<string>uni1EEB</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
		<string>uhungarumlaut</string>
		<string>uni0217</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>public.kern2.underscore</key>
	<array>
		<string>underscore</string>
	</array>
	<key>public.kern2.v</key>
	<array>
		<string>v</string>
	</array>
	<key>public.kern2.w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern2.x</key>
	<array>
		<string>x</string>
	</array>
	<key>public.kern2.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>uni1EF5</string>
		<string>ygrave</string>
		<string>uni1EF7</string>
		<string>uni0233</string>
		<string>uni1EF9</string>
	</array>
	<key>public.kern2.yen</key>
	<array>
		<string>yen</string>
	</array>
	<key>public.kern2.z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>public.kern2.zero</key>
	<array>
		<string>zero</string>
		<string>zero.lf</string>
	</array>
</dict>
</plist>
