<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>V</key>
		<integer>-144</integer>
		<key>W</key>
		<integer>-96</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>A</key>
		<integer>-16</integer>
		<key>Abreve</key>
		<integer>-32</integer>
		<key>Amacron</key>
		<integer>-32</integer>
		<key>Aogonek</key>
		<integer>-32</integer>
		<key>T</key>
		<integer>0</integer>
		<key>V</key>
		<integer>-32</integer>
		<key>Y</key>
		<integer>-48</integer>
		<key>public.kern2.V</key>
		<integer>-144</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>V</key>
		<integer>-48</integer>
		<key>public.kern2.V</key>
		<integer>-144</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-72</integer>
		<key>Abreve</key>
		<integer>-56</integer>
		<key>Amacron</key>
		<integer>-56</integer>
		<key>Aogonek</key>
		<integer>-56</integer>
		<key>V</key>
		<integer>0</integer>
		<key>abreve</key>
		<real>-51.200000762939453</real>
		<key>amacron</key>
		<real>-51.200000762939453</real>
		<key>aogonek</key>
		<real>-51.200000762939453</real>
		<key>c</key>
		<real>-51.200000762939453</real>
		<key>cacute</key>
		<real>-51.200000762939453</real>
		<key>ccaron</key>
		<real>-51.200000762939453</real>
		<key>ccedilla</key>
		<real>-51.200000762939453</real>
		<key>cent</key>
		<real>-51.200000762939453</real>
		<key>comma</key>
		<integer>-80</integer>
		<key>e</key>
		<real>-51.200000762939453</real>
		<key>ecaron</key>
		<real>-51.200000762939453</real>
		<key>edotaccent</key>
		<real>-51.200000762939453</real>
		<key>ellipsis</key>
		<integer>-80</integer>
		<key>emacron</key>
		<real>-51.200000762939453</real>
		<key>eogonek</key>
		<real>-51.200000762939453</real>
		<key>o</key>
		<real>-51.200000762939453</real>
		<key>oe</key>
		<real>-51.200000762939453</real>
		<key>ohungarumlaut</key>
		<real>-51.200000762939453</real>
		<key>omacron</key>
		<real>-51.200000762939453</real>
		<key>oslash</key>
		<real>-51.200000762939453</real>
		<key>otilde</key>
		<real>-51.200000762939453</real>
		<key>public.kern2.V</key>
		<integer>-144</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>V</key>
		<integer>-32</integer>
		<key>public.kern2.V</key>
		<integer>-144</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>T</key>
		<integer>-16</integer>
		<key>V</key>
		<integer>-32</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>T</key>
		<integer>-16</integer>
		<key>V</key>
		<integer>0</integer>
		<key>public.kern2.V</key>
		<integer>-144</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>a</key>
		<integer>-48</integer>
		<key>abreve</key>
		<integer>-48</integer>
		<key>amacron</key>
		<integer>-48</integer>
		<key>aogonek</key>
		<integer>-48</integer>
		<key>c</key>
		<integer>-56</integer>
		<key>cacute</key>
		<integer>-56</integer>
		<key>ccaron</key>
		<integer>-56</integer>
		<key>ccedilla</key>
		<integer>-56</integer>
		<key>cent</key>
		<integer>-56</integer>
		<key>e</key>
		<integer>-56</integer>
		<key>ecaron</key>
		<integer>-56</integer>
		<key>edotaccent</key>
		<integer>-56</integer>
		<key>emacron</key>
		<integer>-56</integer>
		<key>eogonek</key>
		<integer>-56</integer>
		<key>o</key>
		<integer>-56</integer>
		<key>oe</key>
		<integer>-56</integer>
		<key>ohungarumlaut</key>
		<integer>-56</integer>
		<key>omacron</key>
		<integer>-56</integer>
		<key>oslash</key>
		<integer>-56</integer>
		<key>otilde</key>
		<integer>-56</integer>
		<key>v</key>
		<real>-83.199996948242188</real>
		<key>w</key>
		<real>-83.199996948242188</real>
		<key>y</key>
		<real>-83.199996948242188</real>
	</dict>
	<key>L</key>
	<dict>
		<key>public.kern2.T</key>
		<real>-131.19999694824219</real>
	</dict>
	<key>M</key>
	<dict>
		<key>A</key>
		<integer>0</integer>
		<key>T</key>
		<integer>0</integer>
		<key>V</key>
		<integer>0</integer>
		<key>public.kern2.A</key>
		<integer>-32</integer>
		<key>public.kern2.T</key>
		<integer>-32</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>V</key>
		<integer>0</integer>
		<key>public.kern2.V</key>
		<integer>-32</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>Abreve</key>
		<real>-102.40000152587891</real>
		<key>Amacron</key>
		<real>-102.40000152587891</real>
		<key>Aogonek</key>
		<real>-102.40000152587891</real>
		<key>T</key>
		<integer>-16</integer>
		<key>a</key>
		<integer>-64</integer>
		<key>abreve</key>
		<integer>-64</integer>
		<key>amacron</key>
		<integer>-64</integer>
		<key>aogonek</key>
		<integer>-64</integer>
		<key>c</key>
		<real>-76.800003051757812</real>
		<key>cacute</key>
		<real>-76.800003051757812</real>
		<key>ccaron</key>
		<real>-76.800003051757812</real>
		<key>ccedilla</key>
		<real>-76.800003051757812</real>
		<key>cent</key>
		<real>-76.800003051757812</real>
		<key>d</key>
		<integer>-64</integer>
		<key>e</key>
		<real>-76.800003051757812</real>
		<key>ecaron</key>
		<real>-76.800003051757812</real>
		<key>edotaccent</key>
		<real>-76.800003051757812</real>
		<key>emacron</key>
		<real>-76.800003051757812</real>
		<key>eogonek</key>
		<real>-76.800003051757812</real>
		<key>m</key>
		<integer>-40</integer>
		<key>n</key>
		<integer>-40</integer>
		<key>nacute</key>
		<integer>-40</integer>
		<key>ncaron</key>
		<integer>-40</integer>
		<key>o</key>
		<real>-76.800003051757812</real>
		<key>oe</key>
		<real>-76.800003051757812</real>
		<key>ohungarumlaut</key>
		<real>-76.800003051757812</real>
		<key>omacron</key>
		<real>-76.800003051757812</real>
		<key>oslash</key>
		<real>-76.800003051757812</real>
		<key>otilde</key>
		<real>-76.800003051757812</real>
		<key>p</key>
		<integer>-40</integer>
		<key>public.kern2.T</key>
		<integer>-32</integer>
		<key>q</key>
		<integer>-64</integer>
		<key>r</key>
		<integer>-40</integer>
		<key>racute</key>
		<integer>-40</integer>
		<key>rcaron</key>
		<integer>-40</integer>
		<key>uni0146</key>
		<integer>-40</integer>
		<key>uni0157</key>
		<integer>-40</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>V</key>
		<integer>32</integer>
		<key>public.kern2.V</key>
		<integer>32</integer>
		<key>x</key>
		<integer>-104</integer>
	</dict>
	<key>Tcaron</key>
	<dict>
		<key>x</key>
		<integer>-104</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>V</key>
		<integer>0</integer>
		<key>public.kern2.V</key>
		<integer>-144</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>public.kern2.T</key>
		<integer>-32</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>hyphen</key>
		<real>-76.800003051757812</real>
	</dict>
	<key>Z</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>public.kern2.T</key>
		<integer>-32</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>abreve</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>amacron</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>aogonek</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>cacute</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>ccaron</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>ccedilla</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>cent</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>ecaron</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>edotaccent</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>two</key>
		<real>-12.800000190734863</real>
	</dict>
	<key>emacron</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>eogonek</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<real>-3.2000000476837158</real>
		<key>abreve</key>
		<real>-3.2000000476837158</real>
		<key>amacron</key>
		<real>-3.2000000476837158</real>
		<key>aogonek</key>
		<real>-3.2000000476837158</real>
		<key>f</key>
		<real>-9.6000003814697266</real>
		<key>quotedblleft</key>
		<integer>104</integer>
		<key>quotedblright</key>
		<integer>104</integer>
		<key>quoteleft</key>
		<integer>104</integer>
		<key>quoteright</key>
		<integer>104</integer>
		<key>quotesingle</key>
		<integer>104</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>six</key>
		<integer>0</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>eight</key>
		<real>12.800000190734863</real>
		<key>nine</key>
		<real>3.2000000476837158</real>
		<key>three</key>
		<integer>16</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>seven</key>
		<integer>-32</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>a</key>
		<integer>-40</integer>
		<key>abreve</key>
		<integer>-40</integer>
		<key>amacron</key>
		<integer>-40</integer>
		<key>aogonek</key>
		<integer>-40</integer>
		<key>c</key>
		<integer>-40</integer>
		<key>cacute</key>
		<integer>-40</integer>
		<key>ccaron</key>
		<integer>-40</integer>
		<key>ccedilla</key>
		<integer>-40</integer>
		<key>cent</key>
		<integer>-40</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>ecaron</key>
		<integer>-40</integer>
		<key>edotaccent</key>
		<integer>-40</integer>
		<key>emacron</key>
		<integer>-40</integer>
		<key>eogonek</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-40</integer>
		<key>oe</key>
		<integer>-40</integer>
		<key>ohungarumlaut</key>
		<integer>-40</integer>
		<key>omacron</key>
		<integer>-40</integer>
		<key>oslash</key>
		<integer>-40</integer>
		<key>otilde</key>
		<integer>-40</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>oe</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>ohungarumlaut</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>omacron</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>oslash</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>otilde</key>
	<dict>
		<key>f</key>
		<integer>-8</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-80</integer>
		<key>public.kern2.T</key>
		<integer>-128</integer>
		<key>public.kern2.Y</key>
		<integer>-144</integer>
		<key>public.kern2.hyphen</key>
		<integer>-64</integer>
		<key>public.kern2.quotedbl</key>
		<integer>-80</integer>
		<key>public.kern2.quotedblleft</key>
		<integer>-64</integer>
		<key>public.kern2.v</key>
		<integer>-56</integer>
		<key>public.kern2.w</key>
		<integer>-56</integer>
		<key>public.kern2.y</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.C</key>
	<dict>
		<key>public.kern2.v</key>
		<real>-44.799999237060547</real>
	</dict>
	<key>public.kern1.E</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-32</integer>
	</dict>
	<key>public.kern1.F</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-56</integer>
		<key>public.kern2.period</key>
		<integer>-192</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>0</integer>
		<key>public.kern2.O</key>
		<integer>-32</integer>
		<key>public.kern2.T</key>
		<real>-83.199996948242188</real>
		<key>public.kern2.U</key>
		<integer>-32</integer>
		<key>public.kern2.V</key>
		<integer>-128</integer>
		<key>public.kern2.W</key>
		<integer>-48</integer>
		<key>public.kern2.Y</key>
		<integer>-176</integer>
		<key>public.kern2.quotedbl</key>
		<integer>-144</integer>
		<key>public.kern2.quotedblleft</key>
		<integer>-128</integer>
		<key>public.kern2.v</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>X</key>
		<integer>-48</integer>
		<key>public.kern2.A</key>
		<integer>-64</integer>
		<key>public.kern2.T</key>
		<real>-51.200000762939453</real>
		<key>public.kern2.V</key>
		<real>-19.200000762939453</real>
		<key>public.kern2.W</key>
		<integer>-32</integer>
	</dict>
	<key>public.kern1.P</key>
	<dict>
		<key>public.kern2.A</key>
		<real>-150.39999389648438</real>
		<key>public.kern2.period</key>
		<integer>-144</integer>
	</dict>
	<key>public.kern1.R</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-96</integer>
		<key>public.kern2.O</key>
		<integer>-96</integer>
		<key>public.kern2.T</key>
		<integer>-48</integer>
		<key>public.kern2.Y</key>
		<integer>-144</integer>
		<key>public.kern2.t</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>public.kern2.A</key>
		<real>-140.80000305175781</real>
		<key>public.kern2.O</key>
		<real>-51.200000762939453</real>
		<key>public.kern2.T</key>
		<real>22.399999618530273</real>
		<key>public.kern2.V</key>
		<integer>32</integer>
		<key>public.kern2.Y</key>
		<integer>48</integer>
		<key>public.kern2.a</key>
		<integer>-160</integer>
		<key>public.kern2.hyphen</key>
		<integer>-144</integer>
		<key>public.kern2.i</key>
		<integer>-80</integer>
		<key>public.kern2.n</key>
		<integer>-64</integer>
		<key>public.kern2.o</key>
		<integer>-160</integer>
		<key>public.kern2.period</key>
		<integer>-144</integer>
		<key>public.kern2.s</key>
		<integer>-120</integer>
		<key>public.kern2.u</key>
		<integer>-112</integer>
		<key>public.kern2.v</key>
		<real>-92.800003051757812</real>
		<key>public.kern2.w</key>
		<integer>-112</integer>
		<key>public.kern2.y</key>
		<integer>-144</integer>
	</dict>
	<key>public.kern1.U</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-56</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-192</integer>
		<key>public.kern2.O</key>
		<real>-51.200000762939453</real>
		<key>public.kern2.T</key>
		<integer>32</integer>
		<key>public.kern2.a</key>
		<integer>-160</integer>
		<key>public.kern2.hyphen</key>
		<integer>-64</integer>
		<key>public.kern2.n</key>
		<integer>-64</integer>
		<key>public.kern2.o</key>
		<integer>-128</integer>
		<key>public.kern2.period</key>
		<integer>-192</integer>
		<key>public.kern2.u</key>
		<integer>-72</integer>
		<key>public.kern2.v</key>
		<real>-57.599998474121094</real>
		<key>public.kern2.y</key>
		<integer>-64</integer>
	</dict>
	<key>public.kern1.W</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-144</integer>
		<key>public.kern2.O</key>
		<integer>-32</integer>
		<key>public.kern2.a</key>
		<integer>-96</integer>
		<key>public.kern2.hyphen</key>
		<integer>-64</integer>
		<key>public.kern2.o</key>
		<integer>-64</integer>
	</dict>
	<key>public.kern1.X</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-64</integer>
		<key>public.kern2.o</key>
		<integer>-64</integer>
		<key>public.kern2.y</key>
		<integer>-96</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-144</integer>
		<key>public.kern2.O</key>
		<integer>-96</integer>
		<key>public.kern2.S</key>
		<real>-76.800003051757812</real>
		<key>public.kern2.T</key>
		<integer>32</integer>
		<key>public.kern2.o</key>
		<integer>-128</integer>
		<key>public.kern2.period</key>
		<integer>-144</integer>
		<key>public.kern2.u</key>
		<real>-131.19999694824219</real>
		<key>public.kern2.v</key>
		<real>-131.19999694824219</real>
	</dict>
	<key>public.kern1.c</key>
	<dict>
		<key>public.kern2.i</key>
		<real>-3.2000000476837158</real>
		<key>public.kern2.s</key>
		<real>-6.4000000953674316</real>
		<key>public.kern2.t</key>
		<integer>-8</integer>
		<key>public.kern2.v</key>
		<integer>-8</integer>
		<key>x</key>
		<integer>-64</integer>
	</dict>
	<key>public.kern1.d</key>
	<dict>
		<key>W</key>
		<integer>-32</integer>
		<key>X</key>
		<integer>80</integer>
		<key>Y</key>
		<integer>-48</integer>
		<key>e</key>
		<integer>0</integer>
		<key>public.kern2.A</key>
		<integer>-32</integer>
		<key>public.kern2.O</key>
		<integer>0</integer>
		<key>public.kern2.S</key>
		<integer>-32</integer>
		<key>public.kern2.T</key>
		<integer>-32</integer>
		<key>public.kern2.V</key>
		<integer>-32</integer>
		<key>public.kern2.Y</key>
		<integer>-48</integer>
		<key>public.kern2.v</key>
		<real>-9.6000003814697266</real>
		<key>six</key>
		<integer>-96</integer>
	</dict>
	<key>public.kern1.g</key>
	<dict>
		<key>public.kern2.s</key>
		<real>-6.4000000953674316</real>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>public.kern2.x</key>
		<integer>-32</integer>
	</dict>
	<key>public.kern1.quotesingle</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>32</integer>
		<key>public.kern2.s</key>
		<real>-92.800003051757812</real>
	</dict>
	<key>public.kern1.r</key>
	<dict>
		<key>public.kern2.g</key>
		<real>-12.800000190734863</real>
		<key>public.kern2.o</key>
		<integer>-24</integer>
		<key>public.kern2.s</key>
		<real>-12.800000190734863</real>
		<key>public.kern2.t</key>
		<integer>32</integer>
	</dict>
	<key>public.kern1.s</key>
	<dict>
		<key>public.kern2.t</key>
		<real>-14.399999618530273</real>
	</dict>
	<key>public.kern1.slash</key>
	<dict>
		<key>public.kern2.slash</key>
		<integer>-320</integer>
	</dict>
	<key>public.kern1.t</key>
	<dict>
		<key>public.kern2.t</key>
		<real>-9.6000003814697266</real>
		<key>public.kern2.z</key>
		<integer>16</integer>
	</dict>
	<key>public.kern1.u</key>
	<dict>
		<key>public.kern2.s</key>
		<real>-6.4000000953674316</real>
		<key>public.kern2.t</key>
		<integer>-8</integer>
		<key>public.kern2.v</key>
		<integer>-8</integer>
	</dict>
	<key>public.kern1.v</key>
	<dict>
		<key>public.kern2.s</key>
		<real>-44.799999237060547</real>
	</dict>
	<key>public.kern1.x</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-32</integer>
		<key>public.kern2.o</key>
		<integer>-16</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>four</key>
		<integer>-120</integer>
		<key>one</key>
		<integer>8</integer>
		<key>six</key>
		<integer>-96</integer>
		<key>two</key>
		<integer>-32</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>seven</key>
		<real>-3.2000000476837158</real>
		<key>six</key>
		<integer>0</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>e</key>
		<integer>-32</integer>
	</dict>
</dict>
</plist>
